
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <p>&copy; Copyright</p>