{% extends "default_layout.html" %}
{% block header %}
    {{ super() }}
<title>-= Home Page =-</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>

    {% if False %}
    Jinja2
    {% endif %}
    </div><!-- /.container -->
{% endblock %}


